
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        body {
            background-color: white;
        }

        div.aa {
            margin-left: 675px;
            font-family: "Segoe UI Light";
            color: #000000;
            font-size: 25px;
        }

        div.ab {
            margin-left: 775px;
            margin-top: 80px;
            font-family: "Segoe UI Light";
            color: #000000;
            font-size: 25px;
        }

        div.ac {
            margin-left: 875px;
        }

        div.ad {
            margin-left: 1275px;
        }
    </style>
</head>
<body>
    <div class="ad">
        <a href="Project_Readme.html">User Login</a>/<a href="adminlogin.html">Admin Login</a>
    </div>
    <hr />
    <br />

    <form method="post">
        <div class="ab">
            Adminname : <input type="text" name="adminuser"> <br><br>
            Password :&nbsp; <input type="password" name="adminpwd"><br><br><br />
        </div>
        <div class="ac">
            <input type="submit" border="1" value="Sign In as Admin">
        </div>
        <br />
        <div class="aa">
            If you are a new Admin please <a href="registeradmin.html">Click Here</a> to register.
        </div>

    </form>
</body>
</html>
